<div class="main users-edit">
  <div class="container">
    <h1 class="form-heading">ユーザー情報の編集</h1>
    <%= form_with model: @user, local: true do |f| %>
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
        <p class="errors"><%= message %></p>
        <% end %>
        <p>ニックネーム</p>
        <%= f.text_field :name, placeholder: "nickname" %>
        <p>メールアドレス</p>
        <%= f.text_field :email, placeholder: "email" %>
        <%= f.submit "signup" %>
      </div>
    <% end %>
  </div>
</div>