<div class="main user-show">
  <div class="container">
    <div class="user-info">
      <%= image_tag @user.image_name.url, size: "200x200", class: "user-info__image" %>
      <h2 class="user-info__name"><%= @user.name %></h2>
      <p class="user-info__email"><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to "編集", edit_user_path(@user.id), class: "user-info__edit" %>
      <% end %>
    </div>
    <ul class="menu">
      <li><a href="#" class="menu-item active">投稿</a></li>
      <li><a href="#" class="menu-item">いいね！した投稿</a></li>
    </ul>
    <ul class="contents">
      <li class="content show">
        <% @posts.each do |post| %>
          <div class="post-item-index">
            <%= image_tag post.user.image_name.url, size: "100x100" , class: "post-item-index__image"%>
            <div class="post-item-index__text">
              <p class="post-item-index__text--username"><%= post.user.name %></p>
              <%= link_to post.content, "/posts/#{post.id}", class: "post-item-index__text--content" %>
              <div class="post-item-index__text--date">
                <p><%= l post.created_at, format: :short %></p>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate(@posts) %>
      </li>
      <li class="content">
        <% @likes.each do |like| %>
          <% liked = Post.find_by(id: like.post_id) %>
          <div class="post-item-index">
            <%= image_tag "/user_images/#{liked.user.image_name}", size: "100x100" , class: "post-item-index__image"%>
            <div class="post-item-index__text">
              <p class="post-item-index__text--username"><%= liked.user.name %></p>
              <%= link_to liked.content, "/posts/#{liked.id}", class: "post-item-index__text--content" %>
              <div class="post-item-index__text--date">
                <p><%= l liked.created_at, format: :short %></p>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>