<div class="main posts-show">
  <div class="container">
    <div class="post-item">
      <div class="post-item__user">
        <%= image_tag "/user_images/#{@post.user.image_name}", size: "100x100", class: "post-item__user--image" %>
        <%= link_to @post.user.name, user_path(@post.user.id) , class: "post-item__user--name" %>
      </div>
      <p class="post-item__content"><%= @post.content %></p>
      <div class="post-item__time">
        <%= l @post.created_at %>
      </div>
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        いいね！済み
      <% else %>
        いいね！していません
      <% end %>
      <% if @current_user.id == @post.user_id%>
        <div class="post-item__menus">
          <%= link_to "編集", edit_post_path(@post.id) %>
          <%= link_to "削除", post_path(@post.id), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
</div>